:root {
  --color-1: rgb(245, 54, 86);
  --color-2: rgb(21, 117, 21);
  --color-3: rgb(239, 180, 70);
}

.circle-background {
  fill: none;
  stroke: #ddd;
}
.circle-progress {
  fill: none;
  /* stroke: var(--color-1); */
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 2.5rem;
  font-weight: bold;
}

/* Progress */

.dropdown select {
  margin: 0;
  font-size: 1vw;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Graph */

/* .Options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-between;
  margin-bottom: 1vw;
  border: 1px solid rgba(218, 227, 248, 1);
  border-radius: 8px;
  padding: 0.8vw;
  font-size: 1vw;
  font-weight: 500;
} */
.Option {
  padding: 0.5vw;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vw;
  color: "rgba(55, 136, 229, 1)";
}

.Option.active {
  background: rgba(55, 136, 229, 1);
  color: white;
}
