:root {
  --color-1: rgb(245, 54, 86);
  --color-2: rgb(21, 117, 21);
  --color-3: rgb(239, 180, 70);
}

.circle-background {
  fill: none;
  stroke: #ddd;
}
.circle-progress {
  fill: none;
  /* stroke: var(--color-1); */
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 2.5rem;
  font-weight: bold;
}
