:root {
  --color-1: rgb(245, 54, 86);
  --color-2: rgb(21, 117, 21);
  --color-3: rgb(239, 180, 70);
}

.circle-background {
  fill: none;
  stroke: #ddd;
}
.circle-progress {
  fill: none;
  /* stroke: var(--color-1); */
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 2.5rem;
  font-weight: bold;
}

.Schedule {
  width: 100%;
  height: 100%;
  background-color: rgba(254, 254, 254, 1);
  border: 1px solid rgba(218, 227, 248, 1);
  padding: 0.8vw;
  border-radius: 8px;
}
.Schedule-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}
.Schedule-Header p {
  font-size: 1vw;
  font-weight: 500;
  color: rgba(11, 28, 51, 0.7);
  margin: 0;
}
.Schedule-Header-Right {
  display: flex;
  gap: 1vw;
}
.Schedule-Table {
  font-size: 1vw;
  font-weight: 500;
  border: 1px solid rgba(218, 227, 248, 1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}
.Schedule-Table-Header {
  padding: 0 0.8vw;
  background-color: #dae3f8;
  display: flex;
  width: 95.6%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.Schedule-Table-Item {
  padding: 0.2vw 0.8vw;
  border-top: 1px solid rgba(218, 227, 248, 1);
  display: flex;
  align-items: center;
  width: 95.6%;
}
.Table-Type {
  border-radius: 8px;
  padding: 0.8vw;
  display: flex;
  justify-content: center;
  width: 60%;
  margin-right: 15px;
}
.Table-Type.Overdue {
  color: rgba(208, 50, 88, 1);
  background: rgba(252, 235, 239, 1);
  border: 1px solid rgba(247, 193, 206, 1);
}
.Table-Type.Noncore {
  color: rgba(242, 167, 53, 1);
  background: rgba(252, 245, 235, 1);
  border: 1px solid rgba(247, 225, 193, 1);
}
.Table-Type.Core {
  color: rgba(39, 164, 104, 1);
  background: rgba(234, 248, 241, 1);
  border: 1px solid rgba(189, 232, 211, 1);
}
.Table-Veterinar {
  border-radius: 8px;
  padding: 0.8vw;
  border: 1px solid rgba(218, 227, 248, 1);
  width: 80%;
  display: flex;
  justify-content: center;
}
.Table-Veterinar.Find {
  color: white;
  background: rgba(55, 136, 229, 1);
  border-width: 0px;
}
.Table-Name {
  width: 20%;
}
.Table-Date {
  width: 30%;
}
.Table-Type-Head {
  width: 30%;
}
.Table-Veterinar-Head {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .Schedule-Table-Header {
    font-size: 2vw;
  }
  .Schedule-Table-Item {
    font-size: 2vw;
  }
}

/* Progress */

.progress {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 700px;
  gap: 1vw;
}
.progress-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(254, 254, 254, 1);
  border: 1px solid rgba(218, 227, 248, 1);
  border-radius: 8px;
  padding: 0.8vw;
  width: 15vw;
}
.Chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1vw;
}
.Chart-header p {
  font-size: 1vw;
  font-weight: 500;
  color: rgba(11, 28, 51, 0.7);
  margin: 0;
}
.progress-bar {
  width: 100px;
  height: 150px;
}
.dropdown {
  font-size: 1vw;
  font-weight: 500;
  border: 1px solid rgba(218, 227, 248, 1);
  border-radius: 2px;
  padding: 0.3vw 0.2vw;
}
.dropdown select {
  margin: 0;
  font-size: 1vw;
  font-weight: 500;
  border: none;
  outline: none;
}

@media screen and (max-width: 800px) {
  .progress-item {
    width: 20vw;
  }
  .Chart-header p {
    font-size: 2vw;
  }
  .dropdown {
    font-size: 2vw;
  }
  .dropdown select {
    font-size: 2vw;
  }
}

/* Graph */
.HealthChart {
  width: 700px;
  background: rgba(254, 254, 254, 1);
  border: 1px solid rgba(218, 227, 248, 1);
  padding: 0.8vw;
  border-radius: 8px;
  height: 350px;
  margin-top: 15px;
}
.Options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-between;
  margin-bottom: 1vw;
  border: 1px solid rgba(218, 227, 248, 1);
  border-radius: 8px;
  padding: 0.8vw;
  font-size: 1vw;
  font-weight: 500;
}
.Option {
  padding: 0.5vw;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vw;
  color: "rgba(55, 136, 229, 1)";
}
/* .Option p {
  margin: 0;
} */
.Option.active {
  background: rgba(55, 136, 229, 1);
  color: white;
}

@media screen and (max-width: 800px) {
  .Options {
    font-size: 2vw;
  }
  .Option p {
    font-size: 2vw;
  }
}
